div.vote {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

div.vote > img {
  cursor: pointer;
  width: 14px;
  height: auto;
}

div.up {
  color: #F19069;
}

div.down {
  color: #9097F8;
}

div.score1 {
  color: #F19069;
}

div.score-1 {
  color: #9097F8;
}