div.commentVote {
  display: flex;
  flex-direction: column;
  margin: 16px 0 0 10px;
}

div.commentVote > img {
  cursor: pointer;
  width: 16px;
  height: auto;
  margin: 4px
}

div.score1 {
  color: #F19069;
}

div.score-1 {
  color: #9097F8;
}

div.score0 {
  color: #b6b6b6
}