div.challengesPage {
  display: flex;
  flex-direction :row;
}

div.enemyList {
  height: 80vw;
  width: 200px;
  border-right: 1px solid #E5EAED;
}

div.enemy {
  color: grey;
}

span.enemyName {
  cursor: pointer;
  font-size: 20px;
  color: darkred;
}