div.modal-dialog {
  position: absolute;
  left: 16.5%
}

div.modal-content {
  height: 90vh;
  width: 66vw;
  position: relative;
}

div.modal-body {
  margin: 24px;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

div.modal-header {
  background-color: rgb(27, 83, 83);
  color: white;
}

button.close {
  display: none;
}

button.close:hover {
  color: white;
}

div.modal-footer {
  flex-direction: column;
  align-items: stretch;
  margin-top: -24px;
}

div.rps {
  position: absolute;
  bottom: 82px;
  right: 28px;
  display: flex;
  flex-direction: row;
}

div.rps > img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}

div.rps > img.selected {
  opacity: 1;
}

div.rps > img:hover {
  opacity: 1;
}