div.postVote {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  text-align: center;
}

div.postVote > img {
  cursor: pointer;
  width: 18px;
  height: auto;
}

div.score1 {
  color: #F19069;
}

div.score-1 {
  color: #9097F8;
}

div.score0 {
  color: #b6b6b6
}