span.edit {
  color: red;
  font-size: 12px;
  margin-left: 20px;
  cursor: pointer;
}

span.edit:hover {
  color: darkred;
}

div.commentBlock {
  display: flex;
  flex-direction: row;
}

div.commentBlock:nth-child(odd) {
  background-color: rgb(230, 234, 237);
}